:root{
    --spotify-green: #1db954;
    --main-text: #b3b3b3; 
    --player-height: 92px;
    --side-bar-margin: 24px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 13px;
    z-index: 0;
}

/* Track */
::-webkit-scrollbar-track {
    padding: 1px;
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5a5a5a; 
    width: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #b3b3b3; 
}

body{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .015em;
    color: var(--main-text);
    text-transform: none;
    font-family: 'Rubik', 'Poppins','Nunito','Open Sans','Roboto', 'Helvetica Neue',Helvetica,Arial,'Hiragino Kaku Gothic Pro','Meiryo','MS Gothic',sans-serif
}

.App{
    height: 100vh;
    display: relative;
    display: grid;
    grid-template-rows: calc(100vh - var(--player-height)) auto;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

.sidebar{
    background: #040404;
    width: 232px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    user-select: none;
}


.logo-link{
    text-decoration: none;
    color: white;
}

.logo{
    padding-left: var(--side-bar-margin);
    margin-bottom: 18px;
}

.spotify-logo{
    width: 131px;
    height: 40px;
}

.nav-list{
    list-style: none;
}

.NavItem{
    padding: 0 8px;
}

.nav-link{
    color: var(--main-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    font-weight: bold;
    transition: all 0.3s;
}

.nav-link:hover{
    color: white;
}

.nav-icon{
    margin-right: 16px;
    height: 24px;
}

.playlists{
    margin-top: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 234px;
}

.play-title{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: .03em;
    text-transform: uppercase;
    padding: 0 var(--side-bar-margin) 12px var(--side-bar-margin)
}

.create-button{
    border:none;
    background: transparent;
    padding: 5px var(--side-bar-margin);
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--main-text);
    cursor: pointer;
    transition: all 0.4s;
}

.create-button:hover{
    color: white;
}

.playlist-icon{
    margin-right: 16px;
}

.featured-label{
    font-weight: 700;
    line-height: 16px;
}

.featured-item-link{
    display: flex;
    align-items: center;
    padding: 5px var(--side-bar-margin);
    color: var(--main-text);
    text-decoration: none;
    transition: all 0.4s;
}


.featured-item-link:hover{
    color: #fff;
}

.list-separator{
    margin: 8px var(--side-bar-margin) 8px var(--side-bar-margin);
    background-color: #282828;
    border: none;
    height: 1px;
}

.other-playlist-container{
    margin: 4px 0;
    overflow: hidden;
    flex:1;
    max-height: min-content;
    min-height: 100px;
    overflow-y: auto;
}


.other-list{
    list-style: none;
    white-space: nowrap;
}

.side-list{
    margin: 0 var(--side-bar-margin);
    
}

.list-link{
    color: var(--main-text);
    text-decoration: none;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    cursor: default;
}

.list-link:hover{
    color: #fff;
}


.cta-wrapper{
    padding: 0 8px;
    background: rgb(0,0,0);
}

.cta-link{
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--main-text);
    text-decoration: none;
}

.nav-icon.install-icon{
    height: 20px;
}

.player{
    height: var(--player-height);
    background: #282828;
    border-top: 1px solid #000;
    grid-column: 1/-1;
    position:sticky;
}

.featured{
    background: #121212;
    overflow-y: scroll;
}


.header-bar{
    width: 100%;
    height: 60px;
    background: #070707;
    position: fixed;
    z-index: 2;
}

.page-content{
    padding: 0 32px;
    max-width: 1955px;
    display:grid;
}

.HomePage{
    padding: 16px 0;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
}

